#Chapter1-First python program

##1.1 print statement

In [10]:
print("Hello World")

Hello World

In [14]:
print("Hi, this is Spoorthi's Laptop")

Hi, this is Spoorthi's Laptop

In [42]:
print("""Spoorthi said to Vinay, "Data Science session was intesresting".""")

Spoorthi said to Vinay, "Data Science session was intesresting".

In [20]:
print(""""Machine learning (ML) is the study of computer algorithms that can improve 
automatically through experience and by the use of data.[1] It is seen as a part 
of artificial intelligence. Machine learning algorithms build a model based on sample data, 
known as training data, in order to make predictions or decisions without being explicitly programmed to do so.[2] 
Machine learning algorithms are used in a wide variety of applications, such as in medicine, email filtering, 
speech recognition, and computer vision, where it is difficult or unfeasible to develop conventional algorithms to 
perform the needed tasks".""")

"Machine learning (ML) is the study of computer algorithms that can improve
automatically through experience and by the use of data.[1] It is seen as a part
of artificial intelligence. Machine learning algorithms build a model based on sample data,
known as training data, in order to make predictions or decisions without being explicitly programmed to do so.[2]
Machine learning algorithms are used in a wide variety of applications, such as in medicine, email filtering,
speech recognition, and computer vision, where it is difficult or unfeasible to develop conventional algorithms to
perform the needed tasks".

In [53]:
print(78)

78

In [61]:
#Better way instead of concatenation as we don't need to typecast or give space separately
fname="Spoorthi"
lname="Nagareddy"
age=24
print(fname,lname,age)

Spoorthi Nagareddy 24

##1.2 **Variables** in Python are used to store data values.Variables are assigned values using the assignment operator (=).

**conditions:**
1.Variable names must start with a letter or an underscore (_).
2.They cannot start with a number.
3.Variable names can only contain alphanumeric characters and underscores (A-z, 0-9, and _).
4.They are case-sensitive (e.g., age, Age, and AGE are different variables).
5.They cannot be any of Python's reserved keywords (e.g., if, for, while, class, etc.).

In [38]:
#assigning a variable and printing it
x = 5
y = "spoorthi"
print(x)
print(y)

5
spoorthi

**type()**- gets the type of variable

In [73]:
name="Spoorthi"
year_of_birth="2000"
age=24
marks=99.9
student=True
print(type(name))
print(type(year_of_birth))
print(type(age))
print(type(marks))
print(type(student))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

#Chapter 2- Strings 
  
  Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [39]:
print("Hello")
print('Hello')

Hello
Hello

**len()**- checks length of characters in a string

In [49]:
name="Spoorthi"
len(name)

8

**Concatenation**- joins two strings when '+' is used

In [51]:
first_name="Spoorthi"
last_name="Nagareddy"
full_name=print(first_name+" "+last_name)

Spoorthi Nagareddy

**capitalise()** = Capitalises the first letter of the string

In [82]:
name="spoorthi nagareddy"
name.capitalize()

'Spoorthi nagareddy'

**casefold()** = Converts the string to all lower caseÂ¶

In [36]:
about_me="I'm SpooRtHI AnD I lIve in SyRaCuse"
about_me.casefold()

"i'm spoorthi and i live in syracuse"

**center()** = length of string should be 50 and centered

In [94]:
about_me.center(50)

"        I'm SpooRtHI AnD I'm from bAnGloRe        "

In [96]:
about_me.center(50,'#')

"########I'm SpooRtHI AnD I'm from bAnGloRe########"

**count()** = Return the number of times the given substring repeats, count(substring,start,end of string)

In [34]:
string_0= "it's snowing, wear your snow jacket!"
substring='s'
string_0.count(substring, 1 ,50 )

3

**encode()** = Encode the string using the codec registered for encoding.

In [61]:
string_1="spÃ¶orthÃ­"
string_1.encode()

b'sp\xc3\xb6orth\xc3\xad'

In [63]:
string_1.encode("ascii","ignore")

b'sporth'

In [65]:
string_1.encode("ascii","replace")

b'sp?orth?'

**endswith()** = Return True if the string ends with the specified suffix, False otherwise.

In [28]:
name = "Spoorthi Nagareddy"
name.endswith("Nagareddy")

True

**expandtabs()** = Return a copy where all tab characters are expanded using spaces

In [26]:
college= "M\tS\tRamaiah\tCollege\tof\tEngineering"
print(college)
college.expandtabs(2)

M	S	Ramaiah	College	of	Engineering

'M S Ramaiah College of  Engineering'

**find()** =Return the lowest index in string where substring is found.

In [67]:
string_2= "i am a master's student"
string_2.find('a')

2

 **format()** = Returns the values to the curly brackets

In [55]:
print(" My name is {} and i'm from {}".format('Spoorthi','India'))

 My name is Spoorthi and i'm from India

 **index()** = Return the lowest index in string where substring is found

In [69]:
string_3="I have Data Science lecture today"
string_3.index('Data')

7

**isalnum()** = Return True if the string is an alpha-numeric string, False otherwise.

In [71]:
name="Spoorthi"
name.isalnum()

True

**isalpha()** = Return True if the string is an alphabetic string, False otherwise.

In [78]:
job_role="Data Scientist"
job_role.isalpha()

False

**isdecimal()** = Return True if the string is an decimal string, False otherwise.

In [83]:
string_4="9768576"
string_4.isdecimal()

True

**isascii()** = Return True if all characters in the string are ASCII, False otherwise.

In [86]:
string_5="spoorthi nagareddy"
string_5.isascii()

True

 **isdigit()** =Return True if the string is a digit string, False otherwise.

In [91]:
string_6="1224"
string_6.isdigit()

True

 **isidentifier()** =Return True if the string is a valid Python identifier, False otherwise.

In [96]:
my_variable="Spoorthi"
my_variable.isidentifier()

True

**islower()** = Return True if the string is a lowercase string, False otherwise.

In [99]:
string_7="good morning"
string_7.islower()

True

**isnumeric()** = Return True if the string is a numeric string, False otherwise.

In [101]:
string_8='345.3456'
string_8.isnumeric()

False

**isprintable()** = Return True if the string is printable, False otherwise.

In [132]:
string_9 = "Hello\nworld!"
string_9.isprintable()

False

**isspace()** = Return True if the string is a whitespace string, False otherwise.

In [137]:
string_10='      '
string_10.isspace()

True

 **istitle()** = Return True if the string is a title-cased string, False otherwise.

In [142]:
string1 = "This Is A Title Cased String"
string1.istitle()

True

**isupper()** = Return True if the string is an uppercase string, False otherwise.

In [147]:
string2="GOOD MORNING"
string2.isupper()

True

**join()** = Returns a string by joining all the elements of an iterable (list, string, tuple), separated by a string separator.Â¶

In [152]:
my_list=['vinay','spoorthi','vijay','vishal']
print(" , ".join(my_list))

vinay , spoorthi , vijay , vishal

**ljust()** = Returns a left-justified string of a given minimum width.

In [161]:
string3="hi welcome"
string3.ljust(15,'!')

'hi welcome!!!!!'

**rjust()** = returns a right-justified string of a given minimum width.

In [164]:
string4="hi welcome"
string4.rjust(15,'#')

'#####hi welcome'

**lower()** = Converts the string to lower case

In [168]:
string5='SYracUse Univerity'
string5.lower()

'syracuse univerity'

 **lstrip()** = Return a copy of the string with leading whitespace removed

In [171]:
string6='      hi,all'
string6.lstrip()

'hi,all'

partition() = Partition the string into three parts using the given separator.

In [174]:
string7='justification'
string7.partition('a')

('justific', 'a', 'tion')

**replace()** = Return a copy with all occurrences of substring old replaced by new.

In [177]:
string8="he is a student"
string8.replace("student","teacher")

'he is a teacher'

**rfind()** = Return the highest index in S where substring sub is found.

In [181]:
string9='elephant'
string9.rfind('e')

2

**rindex()** = Return the highest index in S where substring sub is found

In [185]:
string9='elephant'
string9.rindex('e')

2

**rpartition()** = Partition the string into three parts using the given separator.

In [190]:
string10=('i love ice cream')
string10.rpartition('ice')

('i love ', 'ice', ' cream')

**rstrip()** = Return a copy of the string with trailing whitespace removed.

In [194]:
string11='hi,all         '
string11.rstrip()

'hi,all'

**rsplit()** = seperates the string wherever the given seperator is located.

In [199]:
text = "apple,banana,cherry,date"
result = text.rsplit(",", 2)
print(result)

['apple,banana', 'cherry', 'date']

 **splitlines()** = Return a list of the lines in the string, breaking at line boundaries.

In [202]:
string='deep\n learning\n is a subset\n of\n data science'
string.splitlines()

['deep', ' learning', ' is a subset', ' of', ' data science']

**startswith()** =Return True if the string starts with the specified prefix, False otherwise.

In [205]:
string12="laptop"
string12.startswith('lap')

True

**swapcase()** = Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [210]:
string13="i am feeling happy"
string13.swapcase()

'I AM FEELING HAPPY'

**strip()** = Return a copy of the string with leading and trailing whitespace removed.

In [213]:
string14="    hi,  everyone!     "
string14.strip()

'hi,  everyone!'

**title()** = Return a version of the string where each word is titlecased.

In [220]:
string15="project- solar energy consumption analysis"
string15.title()

'Project- Solar Energy Consumption Analysis'